.noUi-connect {
    background-color: purple;
    height: 2px;

    width: 100%;
}

.noUi-target {
    background: grey;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    height: 15px;

    width: 100%;
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}

.noUi-handle {
    box-shadow: none;
    border-radius: 100%;
    background-color: #fff;
}

.noUi-horizontal .noUi-handle-upper {
    right: 0;
}

.noUi-horizontal .noUi-handle {
    width: 22px;
    height: 22px;
    border: 3px solid purple;
    background-color: grey;
    top: -10px;
}

/* .noUi-origin .noUi-handle-lower{
    transform: translate(-100%, 0px);
} */