.header {
  width: 100%;
  background-color: rgba(0, 44, 62, 1);
  color: #fff;
  padding: 25px;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;

  .headerLogo {
    width: 25%;
    margin: 0 50px 0 0;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 20%;
    }

    h1 {
      display: inline-block;
      font-size: 22px;
    }
  }

  .headerContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuList {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      list-style-type: none;
      color: #fff;
      font-size: 20px;

      li {
        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            color: #eb5555;
          }
        }
      }

      .active {
        color: #eb5555;
      }
    }
  }

  .headerForm {
    width: 350px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #3e5761;

    display: flex;
    align-items: center;

    .formInput {
      width: 84%;
      padding: 10px;
      font-size: 18px;
      color: #fff;
      background-color: transparent;
      outline: transparent;
      border: none;
    }

    .formSearchIcon {
      width: 25px;
      height: 25px;
    }

    .formButton {
      padding: 10px;
      margin-left: auto;
      font-size: 18px;
      color: #fff;
      background-color: transparent;
      outline: transparent;
      border: none;
      cursor: pointer;

      background-color: #eb5555;
      border-radius: 15px;

      &:hover {
        background-color: #d13131;
      }

      &:active {
        background-color: #fff;
        color: #eb5555;
      }
    }
  }
}
