.sidebarCategoryList {
  li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}
