.wrapperPopUp {
  height: 100vh;
  padding: 25px;

  position: fixed;
  top: 0;
  z-index: 15;

  background-color: #3e5761;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: #849ea8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #132329;
    border-radius: 15px;
  }

  .closeButton {
    width: 50px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #fff;

    border-radius: 15px;
    border: 2px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 30px auto;

    &:hover {
      border: 2px dashed #eb5555;
      background-color: #eb5555;
    }

    &:active {
      color: #fff;
      border: 2px dashed #fff;
      background-color: transparent;
    }
  }
}

.burgerMenu {
  width: 20vw;
  left: 0;
  transform: translate(-100%);
  transition: all 0.5s ease-out;
}

.burgerMenuActive {
  width: 20vw;
  left: 0;
  transform: translate(0);
  transition: all 0.5s ease-out;
}

.cart {
  width: 45vw;
  right: 0;
  transform: translate(100%);
  transition: all 0.5s ease-out;
}

.cartActive {
  width: 45vw;
  right: 0;
  transform: translate(0);
  transition: all 0.5s ease-out;
}
