.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;

  // background-color: pink;

  .product {
    width: 300px;
    height: 400px;
    padding: 15px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // background-color: #eb5555;
    text-align: center;

    figure {
      margin-bottom: 20px;
      text-align: center;
    }

    figcaption {
      text-align: left;
    }

    .productImg {
      width: 220px;
      height: 150px;
    }
  }

  button {
    padding: 15px;
    font-size: 20px;
    background-color: rgba(0, 44, 62, 1);
    color: #fff;
    outline-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      color: #eb5555;
    }

    &:active {
      color: #fff;
      background-color: #3e5761;
    }
  }

  span {
    padding: 12px;
    font-size: 25px;
    background-color: #3e5761;
    color: #fff;
    outline-color: transparent;
    border: none;
    border-radius: 20px;
  }
}
